<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="firstTimeUser" value="true" />
		<add key="defaultFileDirectory" value="\BudgetFiles\" />
		<add key="defaultFileName" value="budget.db" />
		<add key="lastUsedFilePath" value=""/>
		<add key="currentFile" value=""/>
	</appSettings>
</configuration>
