<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="firstTimeUser" value="true" />
		<add key="defaultFileDirectory" value="\BudgetFiles\" />
		<add key="defaultFileName" value="budget.db" />
		<!--Use default filepath if lastUsedFilePath doesnt exist-->
		<add key="lastUsedFilePath" value="\BudgetFiles\"/>
		<!--Same logic with currentFile-->
		<add key="currentFile" value="budget"/>
		<add key="newDB" value="true"/>
	</appSettings>
</configuration>
